---
import { ArticleClient } from "../client/article";
import Layout from "../components/layout.astro";
import ArticleListItem from "../components/list/item.astro";

const articles = await ArticleClient.findArticles();
---

<Layout title="">
	<div>
		<ul>
			{articles.map(article => 
				<>
					<ArticleListItem article={article} />
					<div class="divider"></div>
				</>
			)}
		</ul>
	</div>
</Layout>
