---
import { PostClient } from "../client/post";
import Layout from "../components/layout.astro";
import NonBodyArticle from "../components/article/non-body.astro";

const posts = await PostClient.findLatestPostMetaData();
---

<Layout title="">
	<div>
		<div class="divide-y divide-gray-200 dark:divide-gray-700">
			<div class="space-y-2 pt-6 pb-8 md:space-y-5">
				<h1 class="text-3xl font-extrabold">最近の投稿</h1>
			</div>
		</div>
		<ul>
			{posts.map(post => 
				<>
					<li><NonBodyArticle post={post} /></li>
					<div class="divider"></div>
				</>
			)}
		</ul>
	</div>
</Layout>
