---
import type { PostMetaData } from "../type";
import NonBodyArticle from "./article/non-body.astro";

type Props = {
    posts: PostMetaData[];
}

const { posts } = Astro.props;
---

<ul>
    {posts.map(post => 
        <div class="mb-6">
            <li>
                <NonBodyArticle post={post} />
            </li>
            <div class="divider"></div>
        </div>
    )}
</ul>
