---
type Props = {
    prev: string | undefined;
    next: string | undefined;
}

const { prev, next } = Astro.props;

const className = "btn btn-outline normal-case";
---

<div class="btn-group grid grid-cols-2">
    <a class={prev ? className : `${className} pointer-events-none`} href={prev}>Older Posts</a>
    <a class={next ? className : `${className} pointer-events-none`} href={next}>Newer Posts</a>
</div>