---
import type { GetStaticPathsOptions } from "astro";
import { PostClient } from "../../../client/post";
import Layout from "../../../components/layout.astro";
import List from "../../../components/list.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const posts = await PostClient.findPostMetaData("lcb");
	return paginate(posts, { pageSize: 5 });
}

const { page } = Astro.props;
---

<Layout title="">
	<div>
		<div class="divide-y divide-gray-200 dark:divide-gray-700">
			<div class="space-y-2 pt-6 pb-8 md:space-y-5">
				<h1 class="text-3xl font-extrabold">Limbus Company</h1>
			</div>
		</div>
        <List posts={page.data} />
	</div>
</Layout>